<h1>Pedir carona</h1>

<%= simple_form_for(@route, url: search_routes_path, html: { class: 'form-horizontal', data: { search_route: true } }, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group string required route_destination">
      <%= f.label :origin %>

      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <%= f.input_field :origin, class: 'form-control string required', placeholder: 'Praça Paulo de Frontin - Rio Comprido' %>
        <%= link_to(fa_icon('compass'), '#', data: { geolocate: '#route_origin' }, class: 'btn btn-default input-group-addon') %>
      </div>
    </div>

    <%= f.input :destination, placeholder: 'Arpoador - Copacabana' %>
  </div>

  <div class="form-actions">
    <%= link_to 'Voltar', routes_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, 'Buscar carona', class: 'btn btn-primary', data: { disable_with: 'Buscando...' } %>
  </div>
<% end %>

<div class="mt-3" data-result></div>
