<div class="sidebar-nav">
  <% if signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to t('.my_rides'), rides_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to t('.my_routes'), routes_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to t('pages.how_it_works.title'), '#', class: 'nav-link' %></li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to current_user.name, '#', class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to t('layouts.application.sign_out'), sign_out_path, method: :delete, class: 'nav-link' %></li>
    </ul>
  <% else %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to t('pages.how_it_works.title'), '#', class: 'nav-link' %></li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to t('helpers.submit.user.create'), sign_up_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to t('layouts.application.sign_in'), sign_in_path, class: 'nav-link' %></li>
    </ul>
  <% end %>
</div>
