<% ride_given = ride.driver_id == current_user.id %>
<% user = ride_given ? ride.passenger : ride.driver %>
<div class="list-group-item list-group-item-action flex-column align-items-start" data-ride-id="<%= ride.id %>">
  <div class="d-flex w-100 justify-content-between">
    <%= content_tag(:h6, user.name, class: 'mb-3') %>
    <small class="text-right"><%= ride_status_badge(ride) %></small>
  </div>

  <p class="mb-1">
    <%= fa_icon('map-marker', text: ride.route.origin) %><br />
    <%= fa_icon('location-arrow', text: ride.route.destination) %><br />
    <small class="text-muted"><%= localized_weekdays(ride.route, format: '%a').to_sentence %> - <%= l(ride.route.hour, format: '%H:%M') %></small>
  </p>

  <small>Pedido <%= ride_given ? 'recebido' : 'enviado' %> <%= content_tag(:b, time_ago_in_words(ride.created_at)) %> atrás</small>

  <div class="btn-group mt-2" role="group" aria-label="Basic example">
    <% if ride_given %>
      <%= link_to(fa_icon('check', text: 'Finalizar'), ride, remote: true, method: :put, data: { disable_with: 'Finalizando...', params: 'event=complete' }, class: 'btn btn-success btn-sm') if ride.may_complete? %>
      <%= link_to(fa_icon('thumbs-up', text: 'Aceitar'), ride, remote: true, method: :put, data: { disable_with: 'Aceitando...', params: 'event=accept' }, class: 'btn btn-success btn-sm') if ride.may_accept? %>
      <%= link_to(fa_icon('thumbs-down', text: 'Recusar'), ride, remote: true, method: :put, data: { disable_with: 'Recusando...', params: 'event=reject' }, class: 'btn btn-danger btn-sm') if ride.may_reject? %>
    <% else %>
      <%= link_to(fa_icon('check', text: 'Finalizar'), ride, remote: true, method: :put, data: { disable_with: 'Finalizando...', params: 'event=complete' }, class: 'btn btn-success btn-sm') if ride.may_complete? %>
      <%= link_to(fa_icon('ban', text: 'Cancelar'), ride, remote: true, method: :put, data: { disable_with: 'Cancelando...', params: 'event=cancel' }, class: 'btn btn-danger btn-sm') if ride.may_cancel? %>
    <% end %>

    <% if ride.ongoing? %>
      <%= link_to(fa_icon('map lg'), ride.route, class: 'btn btn-info btn-sm') %>
      <%= link_to(fa_icon('whatsapp lg'), user.whatsapp_url, target: :_blank, class: 'btn btn-success btn-sm') %>
      <%= link_to(fa_icon('phone lg'), "tel:#{user.formatted_phone}", target: :_blank, class: 'btn btn-success btn-sm') %>
    <% end %>
  </div>
</div>
