<% ride_given = ride.driver_id == current_user.id %>
<div class="list-group-item list-group-item-action flex-column align-items-start" data-ride-id="<%= ride.id %>">
  <div class="d-flex w-100 justify-content-between">
    <%= content_tag(:h5, ride_given ? ride.passenger.name : ride.driver.name, class: 'mb-1') %>
    <small class="text-right"><%= ride_status_badge(ride) %></small>
  </div>

  <p class="mb-1">
    <%= fa_icon('map-marker', text: ride.route.origin) %><br />
    <%= fa_icon('location-arrow', text: ride.route.destination) %>
  </p>

  <small>Pedido <%= content_tag(:b, time_ago_in_words(ride.created_at)) %> atrás</small>

  <div class="btn-group mt-2" role="group" aria-label="Basic example">
    <% if ride_given %>
      <%= link_to(fa_icon('thumbs-up', text: 'Aceitar'), ride, remote: true, method: :put, data: { params: 'event=accept' }, class: 'btn btn-success') if ride.may_accept? %>
      <%= link_to(fa_icon('thumbs-down', text: 'Recusar'), ride, remote: true, method: :put, data: { params: 'event=reject' }, class: 'btn btn-danger') if ride.may_reject? %>
    <% else %>
      <%= link_to(fa_icon('ban', text: 'Cancelar'), ride, remote: true, method: :put, data: { params: 'event=cancel' }, class: 'btn btn-danger') if ride.may_cancel? %>
    <% end %>

    <% unless ride.completed? || ride.canceled? %>
      <%= link_to(fa_icon('map lg'), ride.route, class: 'btn btn-info') %>
      <%= link_to(fa_icon('whatsapp lg'), (ride_given ? ride.passenger : ride.driver).whatsapp_url, target: :_blank, class: 'btn btn-success') %>
    <% end %>
  </div>
</div>
