<% if @rides_ongoing.any? %>
  <h5 class="card-title"><%= fa_icon('warning', text: 'Pedidos em andamento/pendentes', class: 'text-muted') %></h5>
  <div class="mb-5">
    <%= render @rides_ongoing %>
  </div>
<% end %>

<% if @rides_given.any? %>
  <h5 class="card-title"><%= fa_icon('arrow-left', text: 'Pedidos recebidos', class: 'text-muted') %></h5>
  <div class="mb-5">
    <%= render @rides_given %>
  </div>
<% else %>
  <div class="card mb-2">
    <div class="card-block">
      <%= render 'blank_slate', class: 'small', icon: 'location-arrow', message: 'Você ainda não deu carona!', action: link_to('Cadastre uma rota', routes_path, class: 'btn btn-success') %>
    </div>
  </div>
<% end %>

<% if @rides_taken.any? %>
  <h5 class="card-title"><%= fa_icon('arrow-right', text: 'Pedidos enviados', class: 'text-muted') %></h5>
  <div class="mb-5">
    <%= render @rides_taken %>
  </div>
<% else %>
  <div class="card">
    <div class="card-block">
      <%= render 'blank_slate', class: 'small', icon: 'thumbs-up', message: 'Você ainda não pegou nenhuma carona!', action: link_to('Busque uma carona', search_routes_path, class: 'btn btn-success') %>
    </div>
  </div>
<% end %>

