<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('application.title') %></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="turbolinks-cache-control" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' } %>
    <%= javascript_include_tag 'application', data: { turbolinks_track: 'reload' } %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api_key}&callback=initMap", async: true, defer: true, data: { turbolinks_track: 'reload' } %>
  </head>

  <body class="<%= controller_name %> <%= controller_name %>_<%= action_name %>">
    <%= render 'header' %>
    <%= render 'flash' %>

    <div class="container">
      <%= yield %>

      <% if session[:device_token].present? %>
        <p>Device token: <%= session[:device_token] %></p>
      <% end %>
    </div>
  </body>
</html>
